
# Uncomment the team repo owner
* @FidelLimited/sre
#* @FidelLimited/backend-team
#* @FidelLimited/be-identity
#* @FidelLimited/be-infra
#* @FidelLimited/be-merchant-onboarding
#* @FidelLimited/be-offers
#* @FidelLimited/be-payments
#* @FidelLimited/be-transactions
